/* Fonts */
@font-face {
    font-family: 'Fira Sans', sans-serif;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    background-color: #eeeeee;
    color: #000000;
    text-decoration: none;
}

::selection {
    background-color: #000000;
    color: #ffffff;
}

.highlighted {
    background-color: #eeeeee;
}

.top {
    padding-top: 40px;
}

/* .justified-text {
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
} */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}

h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; font-weight: 400;}
h5 { font-size: 18px; font-weight: 390; margin-bottom: 5px;}

p {
    font-weight: 380;
    font-size: 17px;
    margin-bottom: 10px;
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
}

/* List Styles */
#cv li, .talk li {
    list-style-type: none;
    font-size: 17px;
    font-weight: 300;
}

.talk ul, .talk li {
    margin: 0;
}

.talk {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

/* Layout */
.col {
    width: 350px;
    margin: 0 40px 8px 0;
    float: left;
    font-size: 0.95em;
    padding-left: 10px;
}

.col.last {
    width: 615px;
    margin-right: 0;
    padding: 0;
}

#footer {
    clear: both;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    font-size: 0.9em;
    color: #999;
}

/* Miscellaneous */
.venue {
    padding-top: 3px;
}

/* pre {
    margin-bottom: 20px;
    padding-bottom: 5px;
} */

code {
    margin-left: auto;
    margin-right: auto;
}

pre {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
	text-align: left; 
    overflow-x: auto;
}

.blogtimestamp {
    font-size: 13px;
    color: #707070;
}

IMG.displayed {
    display: inline-block;
    float: none;
    margin: 0 auto;
    padding-right: 0;
}
